/**
 * -------------------
 * 	Cascade CSS File
 * -------------------
 * 	'Twitter-Style' Overlying Menus
 *
 *  Created by: Rufus N Mbugua
 *  2012
 */

.menu-main, .menu-secondary {
	position: absolute;
	height: 600px;
	display: inline-block;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2% 2% 2% 2%;
	opacity: 1.0;
}
/**
 * Main Menu
 * Position -> Left of screen
 *
 */
.menu-main {
	left: 0;
	width: 15%;
	-webkit-box-shadow: 2px 0px 10px -2px #000;
	-moz-box-shadow: 2px 0px 10px -2px #000;
	box-shadow: 2px 0px 10px -2px #000;
}
.menu-main button, .menu-secondary button{
	display: block;
}
/**
 * 	Secondary Menu
 *  Contains complementary data for the selected menu
 */

.menu-secondary {
	left: 251px;
	width: 12%;
	-webkit-box-shadow: 2px 0px 10px -5px #000;
	-moz-box-shadow: 2px 0px 10px -5px #000;
	box-shadow: 2px 0px 10px -5px #000;
}

.menu-secondary .close {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		
		.menu-secondary .close:hover{
			color:#999;
			
			
		}
		