@charset "utf-8";
/* CSS Document */
/**
 * -----------------
 * FORM CSS File
 * -----------------
 *
 * Description -> Handles general form layout and interactivity
 *
 *
 */

/* Import: Font CSS
 Contents:
 Quicksand Font Family (and variants)
 * */
@import url('fonts.css');

input[type=search] {
	padding: 10px 15px 10px 15px;
	
	width: 100%;
}
input[type=search]:focus {
	-webkit-box-shadow: inset 0px 3px 6px -3px #000;
	-moz-box-shadow: inset 0px 3px 6px -3px #000;
	box-shadow: inset 0px 3px 6px -3px #000;
}
.search{
	float:right;
	padding:10px 5px 5px 10px;
	width:20%;
}

