@charset "utf-8";
/* CSS Document */
/**
 * -----------------
 * FORM CSS File
 * -----------------
 *
 * Description -> Handles general form layout and interactivity
 *
 *
 */

/* Import: Font CSS
 Contents:
 Quicksand Font Family (and variants)
 * */
@import url('fonts.css');

input[type=search] {
	padding: 0.625em 0.625em 0.625em 0.625em;
	
	width: 50%%;
}
input[type=search]:focus {
	-webkit-box-shadow: inset 0px 3px 6px -3px #000;
	-moz-box-shadow: inset 0px 3px 6px -3px #000;
	box-shadow: inset 0px 3px 6px -3px #000;
}
.search{
	margin:auto;
	/*padding:0.625em 0.312em 0.312em 0.625em;*/
	width:60%;
	height:2em;
}
.search select{
	float:left;
	padding: 0.625em 0.625em 0.625em 0.625em;
	width:20%;
	margin-right:5px;
}
.search select option{
	width:200%;
}
.search button{
	padding: 0.625em 0.625em 0.625em 0.625em;
	float:right;
	width:25%;
}

