@charset "utf-8";
/** CSS Document
 * -----------------------
 * INLINE CSS
 * -----------------------
 * 
 * Description -> Handles the error labels
 * 
 * 
 *  */

label.error {
	width: auto;
	margin-left:0;
	margin-top:5px;
	text-align:left;
	display:inline-block;
	font-size:12px;
	font-family:"Verdana", Geneva, sans-serif;
	border:2px #F00 solid;
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px 5px 5px 5px;
	-webkit-box-shadow: inset 0px 0px 3px 0px #000;
    -moz-box-shadow: inset 0px 0px 3px 0px #000;
	-o-box-shadow: inset 0px 0px 3px 0px #000;	
    box-shadow: inset 0px 0px 3px 0px #000;	
}