@charset "utf-8";
/**
 * ----------------------
 * LAYOUT CSS FILE
 * ---------------------
 *
 * Description -> Handles the look and feel of the front end views
 *
 *
 * */
@import url('fonts.css');

body {
	margin: auto;
	background: url('../images/background.jpg');
}

header {
	padding: 0.938em 0.365em 0.938em 0;
	background: #6699CC;
	font-size: 100%;
	height: 1.875em;
	-webkit-box-shadow: 0 2px 6px 0.2px #333;
	margin-bottom: 10px;
}
.logo {
	float: left;
	font-size: 2em;
	color: #fff;
	text-shadow: 0px 1px 2px #000;
	filter: dropshadow(color=#000, offx=0, offy=1);
	padding-left: 10px;
}
.document {
	padding: 0 2% 0 2%;
}
footer {
	padding: 10px 10px 20px 0;
	border-top: 3px solid #666;
	height: 10%;
}

.left-sidebar {
	width: 15%;
	display: inline-block;
	padding: 1% 1% 1% 1%;
}
.menu {
	width: 100%;
}
.left-sidebar li, .left-sidebar ul {
	width: 90%;
	margin: auto;
}
.left-sidebar a {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	font-family: Quicksand Bold;
	font-size: 120%;
	border-bottom: 1px solid #999;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	transition: margin-right 0.1s linear 0.3s;
	-moz-transition: margin-right 0.1s linear 0.3s;
}

.left-sidebar, .content {
	border: 2px solid #999;
	border-radius: 3px;
	background: #FFF;
	height: 80%;
	overflow: auto;
}
.left-sidebar a:hover {
	background-color: #3366CC;
	cursor: hand;
	margin-right: 0;
}
.content {
	width: 80%;
	margin: auto;
	float: right;
	display: inline-block;
}
.image-scroller {
	width: 100%;
	margin-top: 5px;
}
.tile-area {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 20px;
}
.tile-area-x2 {
	width: 65%;
	display: inline-block;
	height: 600px;
	margin-left: 20px;
	float: right;
}
.main-page-tiles {
	display: inline-block;
	margin: 0;
	width: 30%;
	height: 400px;
	box-shadow: 0 0 6px 0.5px #333;
	-moz-box-shadow: 0 0 6px 0.5px #333;
	-webkit-box-shadow: 0 0 6px 0.5px #333;
	-o-box-shadow: 0 0 6px 0.5px #333;
}
.article-tiles {
	display: inline-block;
	margin: 0;
	width: 45%;
	height: 150px;
	border: 2px solid #999;
}
.tile-area-x2 .right-align {
	width: 45%;
	float: right;
}
.right-align {
	float: right;
	width: 30%;
}
.right-align .main-page-tiles, .right-align .article-tiles {
	width: 100%;
}
.paginate {
	margin-left: 35.2%;
	width: 30%;
	border: 2px solid #999;
	margin-top: 20px;
	height: 30px;
	margin-bottom: 20px;
}

.large-tile {
	display: inline-block;
	height: 600px;
	width: 45%;
	border: 2px solid #999;
}
.large-tile:last-child {
	float: right;
}
nav {
	width: 100%;
}
nav a {
	font-size: 100%;
	font-family: Quicksand;
	text-decoration: none;
	padding: 5px;
	color: #000;
	margin-right: 10px;
	-webkit-transition-property: color, background, border-bottom;
	-webkit-transition-duration: 0.75s, 1s, 0.25s;
	-webkit-transition-timing-function: linear, ease-in, ease-in;
	-moz-transition-property: color, background, border-bottom;
	-moz-transition-duration: 0.75s, 1s, 0.25s;
	-moz-transition-timing-function: linear, ease-in, ease-in;
	-o-transition-property: color, background, border-bottom;
	-o-transition-duration: 0.75s, 1s, 0.25s;
	-o-transition-timing-function: linear, ease-in, ease-in;
	transition-property: color, background, border-bottom;
	transition-duration: 0.75s, 1s, 0.25s;
	transition-timing-function: linear, ease-in, ease-in;
}
nav a:hover, a.current {
	color: #039;
	border-bottom: solid 3px #039;
}
ul, li {
	list-style: none;
	right: 0;
}
ul {
	-webkit-padding-start: 0;
}
ul li {
	display: inline-block;
	margin-right: .75em;
}
ul li.last {
	margin-right: 0;
}
.main-page-tiles h2 {
	text-align: center;
	font-family: Tangerine Regular;
	font-size: 40px;
}

.menu-bar {
	font-size: 100%;
	height: 2em;
}
.result {
	width: 90%;
	margin: auto;
	height:15%;
	border-bottom: 1px solid #999;
	padding: 10px 20px 10px 20px;
	-webkit-box-shadow: 0 10px 5px -10px #555;
}
.result-title {
	font-size: 1.2em;
}
.result-content {

}
.result-tags {
	float: right;
}
